cachetools
DLite-Python>=0.4.5,<1.0
influxdb_client
jinja2
numpy>=1.21,<2
oteapi-core @ git+https://github.com/EMMC-ASBL/oteapi-core@master
pandas
Pillow>=9.0.1,<11

# for mapping!
rdflib
SPARQLWrapper
# psycopg2-binary!=2.9.6
# pydantic>=2.4.2,<3  # Indirect requirement
tripper==0.2.15
